In [148]:
 import numpy as np
 import pandas as pd

In [149]:
 pd.__version__

'1.4.2'

In [150]:
df_csv = pd.read_csv('data/my_csv.csv')
df_csv

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7

In [151]:
df_txt = pd.read_table('data/my_table.txt')
df_txt

   col1 col2  col3             col4
0     2    a   1.4   apple 2020/1/1
1     3    b   3.4  banana 2020/1/2
2     6    c   2.5  orange 2020/1/5
3     5    d   3.2   lemon 2020/1/7

In [152]:
 df_excel = pd.read_excel('data/my_excel.xlsx')
df_excel

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7

这里有一些常用的公共参数，header=None 表示第一行不作为列名，index_col 表示把某一列或几列作为索
引，索引的内容将会在第三章进行详述，usecols 表示读取列的集合，默认读取所有的列，parse_dates 表示
需要转化为时间的列，关于时间序列的有关内容将在第十章讲解，nrows 表示读取的数据行数。

In [153]:
 pd.read_table('data/my_table.txt', header=None)

      0     1     2                3
0  col1  col2  col3             col4
1     2     a   1.4   apple 2020/1/1
2     3     b   3.4  banana 2020/1/2
3     6     c   2.5  orange 2020/1/5
4     5     d   3.2   lemon 2020/1/7

In [154]:
pd.read_csv('data/my_csv.csv', index_col=['col1', 'col2'])

           col3    col4      col5
col1 col2
2    a      1.4   apple  2020/1/1
3    b      3.4  banana  2020/1/2
6    c      2.5  orange  2020/1/5
5    d      3.2   lemon  2020/1/7

In [155]:
 pd.read_table('data/my_table.txt', usecols=['col1', 'col2'])

   col1 col2
0     2    a
1     3    b
2     6    c
3     5    d

In [156]:
pd.read_csv('data/my_csv.csv', parse_dates=['col5'])

   col1 col2  col3    col4       col5
0     2    a   1.4   apple 2020-01-01
1     3    b   3.4  banana 2020-01-02
2     6    c   2.5  orange 2020-01-05
3     5    d   3.2   lemon 2020-01-07

In [157]:
pd.read_excel('data/my_excel.xlsx', nrows=3)

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5

在读取 txt 文件时，经常遇到分隔符非空格的情况，read_table 有一个分割参数 sep ，它使得用户可以自定
义分割符号，进行 txt 数据的读取。例如，下面的读取的表以 |||| 为分割：

In [158]:
pd.read_table('data/my_table_special_sep.txt')

              col1 |||| col2
0  TS |||| This is an apple.
1    GQ |||| My name is Bob.
2         WT |||| Well done!
3    PT |||| May I help you?

上面的结果显然不是理想的，这时可以使用 sep ，同时需要指定引擎为 python ：

In [159]:
 pd.read_table('data/my_table_special_sep.txt', sep=' \|\|\|\| ', engine='python')

  col1               col2
0   TS  This is an apple.
1   GQ    My name is Bob.
2   WT         Well done!
3   PT    May I help you?

In [160]:
df_csv.to_csv('data/my_csv_saved.csv', index=False)
df_excel.to_excel('data/my_excel_saved.xlsx', index=False)

In [161]:
df_txt.to_csv('data/my_txt_saved.txt', sep='\t', index=False)

In [162]:
 print(df_csv.to_markdown())

|    |   col1 | col2   |   col3 | col4   | col5     |
|---:|-------:|:-------|-------:|:-------|:---------|
|  0 |      2 | a      |    1.4 | apple  | 2020/1/1 |
|  1 |      3 | b      |    3.4 | banana | 2020/1/2 |
|  2 |      6 | c      |    2.5 | orange | 2020/1/5 |
|  3 |      5 | d      |    3.2 | lemon  | 2020/1/7 |

In [163]:
print(df_csv.to_latex())

\begin{tabular}{lrlrll}
\toprule
{} &  col1 & col2 &  col3 &    col4 &      col5 \\
\midrule
0 &     2 &    a &   1.4 &   apple &  2020/1/1 \\
1 &     3 &    b &   3.4 &  banana &  2020/1/2 \\
2 &     6 &    c &   2.5 &  orange &  2020/1/5 \\
3 &     5 &    d &   3.2 &   lemon &  2020/1/7 \\
\bottomrule
\end{tabular}

C:\Windows\Temp\ipykernel_9704\3826523459.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_csv.to_latex())

In [164]:
s = pd.Series(data = [100, 'a', {'dic1':5}],
 index = pd.Index(['id1', 20, 'third'], name='my_idx'),
 dtype = 'object',
 name = 'my_name')
s

my_idx
id1              100
20                 a
third    {'dic1': 5}
Name: my_name, dtype: object

In [165]:
s.values

array([100, 'a', {'dic1': 5}], dtype=object)

In [166]:
s.index

Index(['id1', 20, 'third'], dtype='object', name='my_idx')

In [167]:
s.dtype

dtype('O')

In [168]:
 s.name

'my_name'

In [169]:
s.shape

(3,)

In [170]:
s['third']

{'dic1': 5}

In [171]:
data = [[1, 'a', 1.2], [2, 'b', 2.2], [3, 'c', 3.2]]
df = pd.DataFrame(data = data,
index = ['row_%d'%i for i in range(3)],
columns=['col_0', 'col_1', 'col_2'])
df

       col_0 col_1  col_2
row_0      1     a    1.2
row_1      2     b    2.2
row_2      3     c    3.2

In [172]:
df = pd.DataFrame(data = {'col_0': [1,2,3], 'col_1':list('abc'),
'col_2': [1.2, 2.2, 3.2]},
index = ['row_%d'%i for i in range(3)])
df

       col_0 col_1  col_2
row_0      1     a    1.2
row_1      2     b    2.2
row_2      3     c    3.2

In [173]:
df['col_0']

row_0    1
row_1    2
row_2    3
Name: col_0, dtype: int64

In [174]:
df[['col_0', 'col_1']]

       col_0 col_1
row_0      1     a
row_1      2     b
row_2      3     c

In [175]:
df.values

array([[1, 'a', 1.2],
       [2, 'b', 2.2],
       [3, 'c', 3.2]], dtype=object)

In [176]:
  df.index

Index(['row_0', 'row_1', 'row_2'], dtype='object')

In [177]:
df.columns

Index(['col_0', 'col_1', 'col_2'], dtype='object')

In [178]:
df.dtypes # 返回的是值为相应列数据类型的 Series

col_0      int64
col_1     object
col_2    float64
dtype: object

In [179]:
 df.shape

(3, 3)

In [180]:
df.T

      row_0 row_1 row_2
col_0     1     2     3
col_1     a     b     c
col_2   1.2   2.2   3.2

In [181]:
df = pd.read_csv('data/learn_pandas.csv')
df

,School,Grade,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Date,Time_Record
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,158.9,46.0,N,1,2019/10/5,0:04:34
1,Peking University,Freshman,Changqiang You,Male,166.5,70.0,N,1,2019/9/4,0:04:20
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,188.9,89.0,N,2,2019/9/12,0:05:22
3,Fudan University,Sophomore,Xiaojuan Sun,Female,NaN,41.0,N,2,2020/1/3,0:04:08
4,Fudan University,Sophomore,Gaojuan You,Male,174.0,74.0,N,2,2019/11/6,0:05:22
...,...,...,...,...,...,...,...,...,...,...
195,Fudan University,Junior,Xiaojuan Sun,Female,153.9,46.0,N,2,2019/10/17,0:04:31
196,Tsinghua University,Senior,Li Zhao,Female,160.9,50.0,N,3,2019/9/22,0:04:03
197,Shanghai Jiao Tong University,Senior,Chengqiang Chu,Female,153.9,45.0,N,1,2020/1/5,0:04:48
198,Shanghai Jiao Tong University,Senior,Chengmei Shen,Male,175.3,71.0,N,2,2020/1/7,0:04:58
199,Tsinghua University,Sophomore,Chunpeng Lv,Male,155.7,51.0,N,1,2019/11/6,0:05:05

In [182]:
df_demo = df[['Gender', 'Transfer', 'Name']]
df_demo

     Gender Transfer            Name
0    Female        N    Gaopeng Yang
1      Male        N  Changqiang You
2      Male        N         Mei Sun
3    Female        N    Xiaojuan Sun
4      Male        N     Gaojuan You
..      ...      ...             ...
195  Female        N    Xiaojuan Sun
196  Female        N         Li Zhao
197  Female        N  Chengqiang Chu
198    Male        N   Chengmei Shen
199    Male        N     Chunpeng Lv

[200 rows x 3 columns]

In [183]:
 df_demo.drop_duplicates(['Name', 'Gender'],keep=False).head() # 保留只出现过一次的性别和姓名组合

   Gender Transfer            Name
0  Female        N    Gaopeng Yang
1    Male        N  Changqiang You
2    Male        N         Mei Sun
4    Male        N     Gaojuan You
5  Female        N     Xiaoli Qian

In [184]:
s = pd.Series([-1, 1.2345, 100, -50])
ret = s.clip(0, 2)
ret = ret.mask(ret.index <= 0, 3)
ret = ret.mask(ret.index > 2, 4)
ret

0    3.0000
1    1.2345
2    2.0000
3    4.0000
dtype: float64

In [185]:
s.clip(0, 2)

0    0.0000
1    1.2345
2    2.0000
3    0.0000
dtype: float64

In [186]:
df_demo = df[['Grade', 'Name', 'Height','Weight']].set_index(['Grade','Name'])
df_demo

                          Height  Weight
Grade     Name
Freshman  Gaopeng Yang     158.9    46.0
          Changqiang You   166.5    70.0
Senior    Mei Sun          188.9    89.0
Sophomore Xiaojuan Sun       NaN    41.0
          Gaojuan You      174.0    74.0
...                          ...     ...
Junior    Xiaojuan Sun     153.9    46.0
Senior    Li Zhao          160.9    50.0
          Chengqiang Chu   153.9    45.0
          Chengmei Shen    175.3    71.0
Sophomore Chunpeng Lv      155.7    51.0

[200 rows x 2 columns]

In [187]:
df_demo.sort_values('Height').head()

                         Height  Weight
Grade     Name
Junior    Xiaoli Chu      145.4    34.0
Senior    Gaomei Lv       147.3    34.0
Sophomore Peng Han        147.8    34.0
Senior    Changli Lv      148.7    41.0
Sophomore Changjuan You   150.5    40.0

In [188]:
df_demo.sort_values('Height', ascending=False).head()

                        Height  Weight
Grade    Name
Senior   Xiaoqiang Qin   193.9    79.0
         Mei Sun         188.9    89.0
         Gaoli Zhao      186.5    83.0
Freshman Qiang Han       185.3    87.0
Senior   Qiang Zheng     183.9    87.0

In [189]:
df_demo.sort_values(['Weight','Height'],ascending=[True,False]).head()

                       Height  Weight
Grade     Name
Sophomore Peng Han      147.8    34.0
Senior    Gaomei Lv     147.3    34.0
Junior    Xiaoli Chu    145.4    34.0
Sophomore Qiang Zhou    150.5    36.0
Freshman  Yanqiang Xu   152.4    38.0

In [190]:
df_demo.sort_index(level=['Grade','Name'],ascending=[True,False]).head()

                        Height  Weight
Grade    Name
Freshman Yanquan Wang    163.5    55.0
         Yanqiang Xu     152.4    38.0
         Yanqiang Feng   162.3    51.0
         Yanpeng Lv        NaN    65.0
         Yanli Zhang     165.1    52.0

In [191]:
df_demo = df[['Height', 'Weight']]
def my_mean(x):
    res = x.mean()
    return res
df_demo.apply(my_mean, axis=1)

0      102.45
1      118.25
2      138.95
3       41.00
4      124.00
        ...
195     99.95
196    105.45
197     99.45
198    123.15
199    103.35
Length: 200, dtype: float64

In [192]:
df_demo.apply(lambda x:x.mean())

Height    163.218033
Weight     55.015873
dtype: float64

In [193]:
df_demo.apply(lambda x:x.mean(), axis=1).head()

0    102.45
1    118.25
2    138.95
3     41.00
4    124.00
dtype: float64

In [194]:
df_demo.apply(lambda x:(x-x.mean()).abs().mean())

Height     6.707229
Weight    10.391870
dtype: float64

In [195]:
(df_demo-df_demo.mean()).abs().mean()

Height     6.707229
Weight    10.391870
dtype: float64

得益于传入自定义函数的处理，apply 的自由度很高，但这是以性能为代价的。一般而言，使用
pandas 的内置函数处理和 apply 来处理同一个任务，其速度会相差较多，因此只有在确实存在
自定义需求的情境下才考虑使用 apply 。

In [196]:
s = pd.Series([1,2,3,4,5])
roller = s.rolling(window = 3)
roller

Rolling [window=3,center=False,axis=0,method=single]

In [197]:
roller.mean()

0    NaN
1    NaN
2    2.0
3    3.0
4    4.0
dtype: float64

In [198]:
roller.sum()

0     NaN
1     NaN
2     6.0
3     9.0
4    12.0
dtype: float64

In [199]:
s2 = pd.Series([1,2,6,16,30])
roller.cov(s2)

0     NaN
1     NaN
2     2.5
3     7.0
4    12.0
dtype: float64

In [200]:
roller.apply(lambda x:x.mean())

0    NaN
1    NaN
2    2.0
3    3.0
4    4.0
dtype: float64

In [201]:
s = pd.Series([1,3,6,10,15])

In [202]:
s.shift(1)

0     NaN
1     1.0
2     3.0
3     6.0
4    10.0
dtype: float64

In [203]:
s.diff(2)

0    NaN
1    NaN
2    5.0
3    7.0
4    9.0
dtype: float64

In [204]:
 s.pct_change()

0         NaN
1    2.000000
2    1.000000
3    0.666667
4    0.500000
dtype: float64

In [205]:
s.diff(-2)

0   -5.0
1   -7.0
2   -9.0
3    NaN
4    NaN
dtype: float64

In [206]:
s.rolling(3).apply(lambda x:list(x)[0]) # s.shift(2) 从i-2到i选择第0个值返回

0    NaN
1    NaN
2    1.0
3    3.0
4    6.0
dtype: float64

In [209]:
s.rolling(4).apply(lambda x:list(x)[-1]-list(x)[0]) # s.diff(3)

0     NaN
1     NaN
2     NaN
3     9.0
4    12.0
dtype: float64

In [233]:
def my_pct(x):
 L = list(x)
 return L[-1]/L[0]-1
s.rolling(2).apply(my_pct) # s.pct_change()

0         NaN
1    2.000000
2    1.000000
3    0.666667
dtype: float64

In [232]:
s.rolling(2).apply(lambda x:list(x)[-1]/list(x)[0]-1) # s.pct_change()

0         NaN
1    2.000000
2    1.000000
3    0.666667
dtype: float64

In [217]:
s = pd.Series([1, 2, 3])
s.rolling(2).apply(lambda x:list(x)[-1] + list(x)[0]).shift(-1)

0    3.0
1    5.0
2    NaN
dtype: float64

In [218]:
s = pd.Series([1, 3, 6, 10])
s.expanding().mean()

0    1.000000
1    2.000000
2    3.333333
3    5.000000
dtype: float64

In [219]:
s.cummax()

0     1
1     3
2     6
3    10
dtype: int64

In [221]:
s.expanding().max()

0     1.0
1     3.0
2     6.0
3    10.0
dtype: float64

In [222]:
s.cumsum()

0     1
1     4
2    10
3    20
dtype: int64

In [223]:
s.expanding().sum()

0     1.0
1     4.0
2    10.0
3    20.0
dtype: float64

In [224]:
s.cumprod()

0      1
1      3
2     18
3    180
dtype: int64

In [231]:
def my_prod(x):
    res = 1
    for i in list(x):
        res *= i
    return res
s.expanding().apply(my_prod)

0      1.0
1      3.0
2     18.0
3    180.0
dtype: float64